<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="github-wahinekai" value="https://nuget.pkg.github.com/wahinekai/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github-wahinekai>
            <add key="Username" value="wahinekai" />
            <add key="ClearTextPassword" value="%GITHUB_NUGET_TOKEN%" />
        </github-wahinekai>
    </packageSourceCredentials>
</configuration>